<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>
</body>

<script>
  var Helpy = Helpy || {};
  Helpy.domain = '//anmolgor.helpy.io';

  // Note: you must use the widget.v2 code library to use these options:
  //Helpy.widgetIcon = ''; //enter the URL of an alternate icon for your widget.  Icons should be 60x60.
</script>
<script src='//anmolgor.helpy.io/assets/widget.v2.js'></script>

</html>
